h1, h2, h3, h4, h5, h6
  line-height 1.2
  font-weight 500
  font-family 'Roboto'
h1
  font-size 36px
h2
  font-size 24px
  @media MD
    font-size 30px
h3
  font-size 18px
  @media MD
    font-size 24px
h4
  font-size 14px
  @media MD
    font-size 18px
h5
  font-size 14px
h6
  font-size 12px

p
  margin-top 0
  margin-bottom 20px

a
  color $link
  text-decoration underline
  &:hover
    color $link-hover

.section-title
  padding 20px 0 20px
  font-weight 300
  font-size 28px
  text-align center
  @media XS
    font-size 33px
  @media SM
    padding 70px 0 20px
    font-size 37px
  @media LG
    font-size 43px

.page-title
  padding 0 0 20px
  font-weight 300
  font-size 28px
  @media XS
    font-size 33px
  @media SM
    font-size 37px
  @media MD
    padding-bottom 35px
  @media LG
    font-size 43px


.content
  article
    font-family 'Roboto'
    font-size 16px
    line-height 24px
    img
      width 100%
      border-radius $radius
    b, strong
      font-weight 500
      font-family 'Roboto'
    h2, h3, h4, h5
      margin-bottom 10px
    ul
      li
        position relative
        padding-left 40px
        margin-bottom 15px
        & + li
          margin-top 20px
        &:after
          content ''
          background: url('../images/sprite.png') no-repeat -100px 0;
          width: 30px;
          height: 30px;
          position absolute
          left 0
          top 0px
          sprite()
          @media SM
            top -5px
    .post-date
      font-size 16px
      line-height 16px
      color #333
      margin-bottom 10px
      @media MD
        margin-top -20px
        margin-bottom 5px
