// Layout
$wrapper = 1200px
$footer = 200px

$sprite = 200px 300px

// Custom
$radius = 5px

// Colors

// Text
$text-muted = gray
$text-fail = red
$text-success = green
$text-warning = yellow
// Links
$link = #2f6f9f
$link-hover = #563d7c
$link-visited = #c7254e



// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 568px)"
