// Custom
$radius = 5px

// Colors
$blue = #00a5e3
$orange = #fea51f
// Text
$text-muted = gray
$text-fail = red
$text-success = green
$text-warning = yellow
// Links
$link = #00a5e3
$link-hover = #ffa200



// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 568px)"
