.m_profits
  padding-bottom 20px
  @media SM
    padding-bottom 70px
  @media screen and (min-width: 480px)
    text-align center
  .column
    background #fff
    border 1px solid #eceff1
    padding 15px
    text-align center
    box-shadow 1px 1px 2px -1px rgba(0,0,0,.1)
    margin-bottom 20px
    overflow hidden
    &:hover
      .desc,
      .desc p
        color #fff
      .image:after
        transform scale(5)
    @media screen and (min-width: 480px)
      display inline-block
      vertical-align top
      width 46%
      height 250px
      margin-left 3%
      &:nth-child(2n+1)
        margin-left 0
    @media SM
      width 30%
      &:nth-child(2n+1)
        margin-left 3%
      &:nth-child(3n+1)
        margin-left 0
    @media MD
      width 18%
      display block
      float left
      margin-left 1% !important
      margin-right 1% !important
      margin-bottom 0
    p
      margin-bottom 0
    .image
      position relative
      width 100px
      height 100px
      background $orange
      margin 0 auto
      border-radius 50%
      &:after
        content ''
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        border-radius 50%
        background $orange
        opacity 1
        transition transform 0.6s cubic-bezier(.33,.66,.66,1)
      > div
        background-image url("../images/sprite.png")
        background-repeat no-repeat
        sprite()
        position absolute
        left 50%
        top 50%
        z-index 10
      .icon-1
        background-position 0 -50px;
        width: 49px;
        height: 50px;
        margin-left -(@width/2)
        margin-top -(@height/2)
      .icon-2
        background-position -100px -50px
        width 50px
        height 46px
        margin-left -(@width/2)
        margin-top -(@height/2)
      .icon-3
        background-position  -200px -50px
        width 50px
        height 50px
        margin-left -(@width/2)
        margin-top -(@height/2)
      .icon-4
        background-position -300px -50px
        width 49px
        height 50px
        margin-left -(@width/2)
        margin-top -(@height/2)
      .icon-5
        background-position -400px -50px
        width 43px
        height 50px
        margin-left -(@width/2)
        margin-top -(@height/2)
    .desc
      padding-top 20px
      position relative
      z-index 10
      transition color 0.5s cubic-bezier(.33,.66,.66,1)
      h3
        font-weight 300
        font-size 21px
      p
        font-size 15px
        color #666666
        margin-top 10px
        transition color 0.5s cubic-bezier(.33,.66,.66,1)